<div
    class="card card-w-title"
    style="display: flex; justify-content: space-between; align-items: center"
>
    <div style="display: flex; align-items: center">
        <i class="pi pi-star-fill"></i>
        <span style="font-size: 15px; margin-left: 5px"><b>ENCUESTA</b></span>
    </div>
</div>

<div *ngIf="ticketDetails" class="card card-w-title" style="padding: 20px">
    <h5 style="text-align: right">
        <b>Ticket # {{ ticketDetails.idTicket }}</b>
    </h5>
    <div class="p-fluid">
        <div class="field grid">
            <div class="col-12 md:col-12 lg:col-12">
                <label for="titulo" class="block mb-2"
                    ><b>Asunto:</b>
                    <span> {{ ticketDetails.titulo }}</span>
                </label>
            </div>
            <div class="col-12 md:col-12 lg:col-12">
                <label for="descripcionTicket" class="block mb-2"
                    ><b>Detalle:</b>
                    <span> {{ ticketDetails.descripcionTicket }}</span>
                </label>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <label for="nombreUsuario" class="block mb-2"
                    ><b>Usuario:</b>
                    <span> {{ ticketDetails.nombreUsuario }}</span>
                </label>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <label for="email" class="block mb-2"
                    ><b>Email:</b>
                    <span> {{ ticketDetails.email }}</span>
                </label>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <label for="nombreAgente" class="block mb-2">
                    <b>Nombre Agente: </b>
                    <span> {{ ticketDetails.nombreAgente }}</span>
                </label>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <label for="departamentoA" class="block mb-2"
                    ><b>Departamento: </b>
                    <span> {{ ticketDetails.departamentoA }} </span>
                </label>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <label for="estadoTicket" class="block mb-2">
                    <b>Estado del Ticket: </b>
                    <span> {{ ticketDetails.estadoTicket }}</span>
                </label>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <label for="fechaCreacion" class="block mb-2">
                    <b>Fecha creación: </b>
                    <span> {{ ticketDetails.fechaCreacion }}</span>
                </label>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <label for="fechaCierre" class="block mb-2">
                    <b>Fecha cierre: </b>
                    <span> {{ ticketDetails.fechaCierre }}</span>
                </label>
            </div>
        </div>
    </div>
    <br />
    <form *ngIf="!encuesta" [formGroup]="encuestaForm" (ngSubmit)="onSubmit()">
        <div
            class="flex mb-2 gap-2 justify-content-center"
            style="padding: 20px"
        >
            <p-button
                *ngFor="let item of items; let i = index"
                (onClick)="onChangeRaiting(i)"
                [rounded]="true"
                [label]="(i + 1).toString()"
                [styleClass]="'w-2rem h-2rem p-0'"
                [outlined]="i > activeItem"
            />
        </div>
        <div class="p-fluid">
            <div class="field grid">
                <div class="col-12 md:col-6 lg:col-2">
                    <label for="description">Comentario: </label>
                </div>
                <div class="col-12 md:col-6 lg:col-10">
                    <textarea
                        id="description"
                        pInputTextarea
                        formControlName="comentarios"
                        required
                        rows="3"
                        cols="20"
                        placeholder="Por favor escriba su opinión sobre la Resolución del Ticket."
                    ></textarea>
                    <small
                        class="p-error"
                        *ngIf="
                            encuestaForm.get('comentarios').invalid &&
                            (encuestaForm.get('comentarios').dirty ||
                                encuestaForm.get('comentarios').touched)
                        "
                    >
                        El Comentario es requerido.
                    </small>
                </div>
            </div>
        </div>
    </form>
    <p-toolbar>
        <div class="p-toolbar-group-start"></div>
        <div class="p-toolbar-group-end">
            <p-button
                class="mr-2"
                icon="pi pi-check"
                (click)="confirmCrear()"
                label="Enviar Encuesta"
                severity="success"
            ></p-button>
            <p-button
                class="mr-2"
                icon="pi pi-times"
                (click)="confirmVolver()"
                label="Cancelar"
                severity="danger"
            ></p-button>
        </div>
    </p-toolbar>
</div>
<div class="overlay" *ngIf="loading">
    <p-progressSpinner strokeWidth="6"></p-progressSpinner>
</div>
<p-confirmDialog
    header="Confirmación"
    key="encuesta"
    acceptLabel="Si"
    rejectLabel="No"
    icon="pi pi-exclamation-triangle"
    [closable]="false"
    [closeOnEscape]="false"
    [style]="{ width: '450px' }"
    acceptButtonStyleClass="p-button-text"
    rejectButtonStyleClass="p-button-text"
>
</p-confirmDialog>
<p-toast></p-toast>
