<div class="card card-w-title">
    <p-button icon="pi pi-angle-double-left" label="Volver" (click)="confirmVolver()"></p-button>
    <p-button *ngIf="validarRol.agente() && ticket && ticket?.fechaInicioAtencion == null" label="Iniciar Atención"
        (click)="fechaInicioAtencion(ticket)" icon="pi pi-check" severity="success" [ngStyle]="{ 'float': 'right' }"
        [disabled]="ticket?.fechaInicioAtencion != null"></p-button>
</div>

<div class="card card-w-title" style="padding: 20px;">
    <h5>TICKET <label *ngIf="ticket && ticketForm.get('idTicket').value" id="titulo"># {{
            ticketForm.get('idTicket').value
            }}</label></h5>

    <form *ngIf="ticket" [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid">
            <div class="p-fluid" [ngClass]="{'rojo-sombreado-conjunto': ticketForm.get('fechaCreacion').value}">
                <div class="field grid">
                    <!-- <div class="field grid col-12 md:col-6 lg:col-6"
                        *ngIf="ticketForm.get('fechaCreacion').value && (validarRol.usuario() || validarRol.administrador() )"> -->
                    <div class="col-12 md:col-12 lg:col-12"
                        *ngIf="ticketForm.get('fechaCreacion').value">
                        <label for="titulo" class="block mb-2"><b>Asunto: </b>
                            <span> {{ ticketForm.get('titulo').value}}</span>
                        </label>
                    </div>
                    <div class="col-12 md:col-12 lg:col-12"
                        *ngIf="ticketForm.get('fechaCreacion').value">
                        <label for="titulo" class="block mb-2"><b>Detalle: </b>
                            <span> {{ ticketForm.get('descripcion').value}}</span>
                        </label>
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                        <label for="cliente" class="block mb-2"><b>Usuario:</b>
                            <span> {{ nombreCompleto }}</span>
                        </label>
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                        <label for="email" class="block mb-2"><b>Email:</b>
                            <span> {{ email }}</span>
                        </label>
                    </div>
                    <div class="col-12 md:col-6 lg:col-6"
                        *ngIf="validarRol.usuario() && ticketForm.get('fechaCreacion').value">
                        <label for="estadoTicket" class="block mb-2"><b>Estado del Ticket:</b>
                            <span> {{ ticketForm.get('estadoTicket').value?.nombre }}</span>
                        </label>
                    </div>
                    <div class="col-12 md:col-6 lg:col-6"
                        *ngIf="validarRol.usuario() && ticketForm.get('departamentoAgente').value">
                        <label for="departamentoAgente" class="block mb-2"><b>Departamento:</b>
                            <span> {{ ticketForm.get('departamentoAgente').value?.nombre }}</span>
                        </label>
                    </div>

                    <div class="col-12 md:col-6 lg:col-6" *ngIf="ticketForm.get('fechaCreacion').value">
                        <label for="fechaCreacion" class="block mb-2"><b> Creado en: </b>
                            <span> {{ ticketForm.get('fechaCreacion').value }}</span>
                        </label>
                    </div>
                    <div class="col-12 md:col-6 lg:col-6"
                        *ngIf="!validarRol.usuario() && ticketForm.get('fechaAtualizacion').value">
                        <label for="fechaAtualizacion" class="block mb-2"> <b>Actualizado en:</b>
                            <span> {{ ticketForm.get('fechaAtualizacion').value }}</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="field grid mb-3"
                *ngIf="!ticketForm.get('fechaCreacion').value && (validarRol.usuario() || validarRol.administrador() )">
                <label for="titulo" class="col-12 mb-2 md:col-2 md:mb-0">Asunto: <span class="required"></span></label>
                <div class="col-12 md:col-10">
                    <input pInputText id="titulo" type="text" formControlName="titulo" />
                    <small class="p-error"
                        *ngIf="ticketForm.get('titulo').invalid && (ticketForm.get('titulo').dirty || ticketForm.get('titulo').touched)">
                        El Asunto es requerido.
                    </small>
                </div>
            </div>

            <div class="field grid mb-3"
                *ngIf="!ticketForm.get('fechaCreacion').value && (validarRol.usuario() || validarRol.administrador() )">
                <label for="descripcion" class="col-12 mb-2 md:col-2 md:mb-0">Detalle: <span
                        class="required">*</span></label>
                <div class="col-12 md:col-10">
                    <textarea pInputTextarea id="descripcion" rows="5" formControlName="descripcion"></textarea>
                    <small class="p-error"
                        *ngIf="ticketForm.get('descripcion').invalid && (ticketForm.get('descripcion').dirty || ticketForm.get('descripcion').touched)">
                        El Detalle es requerido.
                    </small>
                </div>
            </div>
            <div class="field grid">
                <ng-container *ngIf="!validarRol.usuario() && ticketForm.get('estadoTicket').value">
                    <div class="col-12 md:col-6 lg:col-6">
                        <div class="p-fluid">
                            <!-- <label for="estadoTicket" class="block mb-2">Estado del Ticket: <span
                                    class="required">*</span></label>
                            <p-dropdown [options]="estadoTickets" formControlName="estadoTicket"
                                placeholder="Seleccione el estado del Ticket" optionLabel="nombre" [showClear]="true"
                                class="w-full"></p-dropdown>
                            <small class="p-error block mt-2"
                                *ngIf="ticketForm.get('estadoTicket').invalid && (ticketForm.get('estadoTicket').dirty || ticketForm.get('estadoTicket').touched)">
                                <span *ngIf="ticketForm.get('estadoTicket').errors?.required">El Estado del ticket es
                                    requerido.</span>
                            </small> -->
                            <label for="estadoTicket" class="block mb-2"><b>Estado del Ticket:</b>
                            </label>
                            <!-- <span> {{ ticketForm.get('estadoTicket').value?.nombre }}</span> -->
                            <input 
                                id="disabled-input" 
                                type="text"
                                pInputText 
                                [disabled]="true" 
                                value="{{ ticketForm.get('estadoTicket').value?.nombre }}" />

                        </div>
                    </div>

                    <div class="col-12 md:col-6 lg:col-6">
                        <div class="p-fluid">
                            <label for="prioridad" class="block mb-2">Prioridad: <span class="required">*</span></label>
                            <p-dropdown [options]="prioridades" formControlName="prioridad"
                                placeholder="Seleccione una prioridad" optionLabel="nombre" [showClear]="true"
                                class="w-full"></p-dropdown>
                            <small class="p-error block mt-2"
                                *ngIf="ticketForm.get('prioridad').invalid && (ticketForm.get('prioridad').dirty || ticketForm.get('prioridad').touched)">
                                <span *ngIf="ticketForm.get('prioridad').errors?.required">La prioridad es
                                    requerida.</span>
                            </small>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()"
                class="field grid">
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="p-fluid" *ngIf="ticketForm.get('idEstadoTicket').value === '1'">
                        <label for="departamentoAgente" class="block mb-2">Departamentos de soporte: <span
                                class="required">*</span></label>
                        <p-dropdown [options]="departamentoAgentes" formControlName="departamentoAgente"
                            placeholder="Seleccione el Departamento" optionLabel="nombre" [showClear]="true"
                            class="w-full" (onChange)="seleccionarDepartamento($event)">
                        </p-dropdown>
                        <small class="p-error block mt-2"
                            *ngIf="ticketForm.get('departamentoAgente').invalid && (ticketForm.get('departamentoAgente').dirty || ticketForm.get('departamentoAgente').touched)">
                            <span *ngIf="ticketForm.get('departamentoAgente').errors?.required">El departamento de
                                soporte es requerido.</span>
                        </small>
                    </div>
                    <div class="p-fluid" *ngIf="ticketForm && (ticketForm.get('idEstadoTicket').value) !== '1'">
                        <label for="departamentoAgente" class="block mb-2">Departamentos de soporte: <span
                                class="required">*</span></label>
                                <input 
                                id="disabled-input" 
                                type="text"
                                pInputText 
                                [disabled]="true" 
                                value="{{ ticketForm.get('departamentoAgente').value?.nombre }}" />
                    </div>  
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <div class="p-fluid" *ngIf="ticketForm && (ticketForm.get('idEstadoTicket').value) === '1'">
                        <label for="agente" class="block mb-2">Agente: <span class="required">*</span></label>
                        <p-dropdown [options]="agentes" formControlName="agente" placeholder="Seleccione un agente"
                            optionLabel="agenteNombreCompleto" [showClear]="true" class="w-full">
                        </p-dropdown>
                        <small class="p-error block mt-2"
                            *ngIf="ticketForm.get('agente').invalid && (ticketForm.get('agente').dirty || ticketForm.get('agente').touched)">
                            <span *ngIf="ticketForm.get('agente').errors?.required">El agente es
                                requerido.</span>
                        </small>
                    </div>
                    <div class="p-fluid" *ngIf="ticketForm && (ticketForm.get('idEstadoTicket').value) !== '1'">
                        <label for="departamentoAgente" class="block mb-2">Agente: <span
                                class="required">*</span></label>
                                <input 
                                id="disabled-input" 
                                type="text"
                                pInputText 
                                [disabled]="true" 
                                value="{{ ticketForm.get('agente').value?.agenteNombreCompleto }}" />
                    </div>  
                </div>
                
            </div>

            <div *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()"
                class="field grid">
                <div class="col-12 md:col-6 lg:col-6">

                    <div class="p-fluid">
                        <label for="sla" class="block mb-2">SLA: <span class="required">*</span></label>
                        <p-dropdown [options]="slas" formControlName="sla" placeholder="Seleccione un sla"
                            optionLabel="nombreCompleto" [showClear]="true" class="w-full">
                        </p-dropdown>
                        <small class="p-error block mt-2"
                            *ngIf="ticketForm.get('sla').invalid && (ticketForm.get('sla').dirty || ticketForm.get('sla').touched)">
                            <span *ngIf="ticketForm.get('sla').errors?.required">El sla es
                                requerido.</span>
                        </small>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <label for="temaAyuda" class="block mb-2">Tema de Ayuda: <span class="required">*</span></label>
                    <p-dropdown [options]="temasAyuda" formControlName="temaAyuda" placeholder="Seleccione un Tema de Ayuda"
                        optionLabel="nombre" [showClear]="true" class="w-full">
                    </p-dropdown>
                    <small class="p-error block mt-2"
                        *ngIf="ticketForm.get('idTemaAyuda').invalid && (ticketForm.get('idTemaAyuda').dirty || ticketForm.get('idTemaAyuda').touched)">
                        <span *ngIf="ticketForm.get('idTemaAyuda').errors?.required">El Tema de ayuda es
                            requerido.</span>
                    </small>
                </div>
            </div>
        </div>
    </form>
    <p-toolbar *ngIf="ticket">
        <div class="p-toolbar-group-start" *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()">
            <p-button *ngIf="ticketForm.get('idEstadoTicket').value === '3' || ticketForm.get('idEstadoTicket').value === '6' 
            || ticketForm.get('idEstadoTicket').value === '9'"
                class="mr-2" icon="pi pi-lock" label="Cerrar Ticket"
                severity="success"></p-button>
            <p-button *ngIf="ticketForm.get('idEstadoTicket').value === '3' || ticketForm.get('idEstadoTicket').value === '6'
            || ticketForm.get('idEstadoTicket').value === '9'"
                class="mr-2" icon="pi pi-user-edit"  label="Escalar Ticket"
                severity="help"></p-button>
                <p-button *ngIf="ticketForm.get('idEstadoTicket').value === '4'"
                class="mr-2" icon="pi pi-replay"  label="Reaperturar Ticket"
                severity="warning"></p-button>
        </div>
        <div class="p-toolbar-group-start" *ngIf="validarRol.usuario()"></div>
        <div class="p-toolbar-group-end">
            <p-button
                *ngIf="!ticket.idTicket && !ticketForm.get('fechaCreacion').value && (validarRol.administrador() || validarRol.usuario())"
                class="mr-2" icon="pi pi-check" (click)="confirmCrearActualizar('op=insertar')" label="Crear ticket"
                severity="success"></p-button>
            <p-button
                *ngIf="ticket.idTicket && ticketForm.get('fechaCreacion').value && (validarRol.administrador() || validarRol.agente() || validarRol.coordinador())"
                class="mr-2" icon="pi pi-check" (click)="confirmCrearActualizar('op=actualizar')"
                label="Actualizar"></p-button>
            <p-button *ngIf="!ticket.idTicket && !ticketForm.get('fechaCreacion').value" class="mr-2" icon="pi pi-times"
                (click)="confirmVolver()" label="Cancelar" severity="danger"></p-button>
        </div>
    </p-toolbar>
</div>

<p-confirmDialog header="Confirmación" key="ticket" acceptLabel="Si" rejectLabel="No" icon="pi pi-exclamation-triangle"
    [closable]="false" [closeOnEscape]="false" [style]="{width: '450px'}" acceptButtonStyleClass="p-button-text"
    rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<p-toast></p-toast>

<div *ngFor="let mensaje of mensajes" [ngClass]="{'left': !mensaje?.idAgente, 'right': mensaje?.idAgente}"
    class="chat-bubble">
    <h5>{{ mensaje?.idAgente ? mensaje?.agenteNombreCompleto : mensaje?.clienteNombreCompleto }} publicado {{
        mensaje?.fechaDetalle }}</h5>
    <!-- <p>{{ mensaje?.detalle }}</p> -->
    <div class="formatted-content" [innerHTML]="mensaje?.detalle"></div>
</div>
<div *ngIf="validarRol.agente() || validarRol.usuario()">
    <div *ngIf="ticketForm && ticketForm.get('estadoTicket').value?.nombre !== 'Cerrado'">
        <div *ngIf="ticketDetalleForm" [formGroup]="ticketDetalleForm" class="chat-container">
            <!-- <textarea class="chat-input " rows="3" formControlName="detalle"
                placeholder="Escribe una respuesta..."></textarea> -->
            <quill-editor style="background-color: white;" formControlName="detalle"
                placeholder="Escribe una respuesta..."></quill-editor>
        </div>
        <p-toolbar *ngIf="ticketForm.get('fechaCreacion').value">
            <div class="p-toolbar-group-end">
                <p-button class="mr-2" icon="pi pi-check" (click)="enviarMensaje()" label="Enviar mensaje"></p-button>
            </div>
        </p-toolbar>
    </div>
</div>
<div class="overlay" *ngIf="loading">
    <p-progressSpinner strokeWidth="6"></p-progressSpinner>
</div>
