<!-- <div class="card card-w-title">
    <p-button icon="pi pi-angle-double-left" label="Volver" (onClick)="confirmVolver()"></p-button>
    <p-button *ngIf="agente" [label]="agente.estado === '0' ? 'Activar Agente' : 'Desactivar Agente'"
        (onClick)="confirmActivarDesactivar(agente)" icon="pi pi-check"
        [severity]="agente.estado === '0' ? 'success' : 'danger'" [ngStyle]="{ 'float': 'right' }"></p-button>
</div> -->

<div class="card card-w-title" style="padding: 20px;">
    <h5>AGENTE</h5>

    <form *ngIf="agente" [formGroup]="agenteForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid">
            <div class="field grid">
                <div class="col-12 md:col-6 lg:col-6">
                    <label for="agente" class="block mb-2">Agente: <span class="required">*</span></label>
                    <input pInputText id="agente" type="text" formControlName="agente" class="w-full" />
                    <small class="p-error block mt-2"
                        *ngIf="agenteForm.get('agente').invalid && (agenteForm.get('agente').dirty || agenteForm.get('agente').touched)">
                        <span *ngIf="agenteForm.get('agente').errors?.required">El agente es requerido.</span>
                    </small>
                </div>
            </div>

            <div class="field grid">
                <div class="col-12 md:col-6 lg:col-6">
                    <label for="usuario" class="block mb-2">Usuario: <span class="required">*</span></label>
                    <p-dropdown [options]="usuarios" formControlName="usuario" placeholder="Seleccione el Usuario"
                        optionLabel="agenteNombreCompleto" class="w-full" [showClear]="true"></p-dropdown>
                    <small class="p-error block mt-2"
                        *ngIf="agenteForm.get('usuario').invalid && (agenteForm.get('usuario').dirty || agenteForm.get('usuario').touched)">
                        <span *ngIf="agenteForm.get('usuario').errors?.required">El usuario es requerido.</span>
                    </small>
                </div>
            </div>
        </div>
    </form>

    <p-toolbar>
        <div class="p-toolbar-group-start"></div>
        <div *ngIf="agente" class="p-toolbar-group-end">
            <p-button *ngIf="!agente.idAgente" class="mr-2" icon="pi pi-check"
                (click)="confirmCrearActualizar('op=insertar')" label="Guardar" severity="success"></p-button>
            <p-button *ngIf="agente.idAgente" class="mr-2" icon="pi pi-check"
                (click)="confirmCrearActualizar('op=actualizar')" label="Actualizar"></p-button>
            <p-button class="mr-2" icon="pi pi-times" (click)="confirmVolver()" label="Cancelar"
                severity="danger"></p-button>
        </div>
    </p-toolbar>
</div>

<p-confirmDialog header="Confirmación" key="agente" acceptLabel="Si" rejectLabel="No" icon="pi pi-exclamation-triangle"
    [closable]="false" [closeOnEscape]="false" [style]="{width: '450px'}" acceptButtonStyleClass="p-button-text"
    rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<p-toast></p-toast>
