<div class="card card-w-title" style="display: flex; justify-content: space-between; align-items: center;">
    <div style="display: flex; align-items: center;">
        <i class="pi pi-user"></i>
        <span style="font-size: 15px; margin-left: 5px;"><b>TICKETS</b></span>
    </div>
    <div>
        <button class="mr-2" pButton label="Todos" icon="pi pi-list" (click)="filterTickets('all')"></button>
        <button class="mr-2" pButton label="Cerrados" icon="pi pi-list" (click)="filterTickets('closed')"></button>
      </div>
    <div *ngIf="validarRol.administrador() || validarRol.usuario()">
        <p-button [raised]="true" severity="success" routerLink="/ticket/ticket-form/" label="Crear Ticket"
            icon="pi pi-plus" />
    </div>
</div>

<div class="card card-w-title">
    <p-table #dt [value]="filteredTickets" [rows]="10" [paginator]="true" [globalFilterFields]="['idTicket','titulo','descSla','descPrioridad','descPersona','descDepartamentoA','descEstadoTicket',
    'resueltoPrimerContacto','fechaCreacion','fechaAtualizacion','descAgente']" [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true" dataKey="idTicket"
        currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros."
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <p-button icon="pi pi-filter" severity="info" pTooltip="Mostrar filtros" tooltipPosition="top"
                    (click)="showFilter()" />
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Buscar" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="idTicket" style="min-width:5rem; text-align: center;">
                    Ticket # <p-sortIcon field="idTicket" />
                </th>
                <th *ngIf="validarRol.administrador() || validarRol.usuario()" pSortableColumn="fechaCreacion"
                    style="text-align: center;">
                    Creado en <p-sortIcon field="fechaCreacion" />
                </th>
                <th *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()"
                    pSortableColumn="fechaAtualizacion" style="text-align: center;">
                    Actualizado en <p-sortIcon field="fechaAtualizacion" />
                </th>
                <th *ngIf="validarRol.administrador() || validarRol.usuario()" pSortableColumn="descEstadoTicket"
                    style="text-align: center;">
                    Estado <p-sortIcon field="descEstadoTicket" />
                </th>
                <th pSortableColumn="titulo" style="min-width:5rem; text-align: center;">
                    Asunto <p-sortIcon field="titulo" />
                </th>
                <th *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()"
                    pSortableColumn="descPersona" style="text-align: center;">
                    De <p-sortIcon field="descPersona" />
                </th>
                <th *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()"
                    pSortableColumn="descPrioridad" style="text-align: center;">
                    Prioridad <p-sortIcon field="descPrioridad" />
                </th>
                <th *ngIf="validarRol.administrador() || validarRol.usuario() || validarRol.agente()"
                    pSortableColumn="descDepartamentoA" style="text-align: center;">
                    Departamento <p-sortIcon field="descDepartamentoA" />
                </th>
                <th *ngIf="validarRol.administrador() || validarRol.coordinador()" pSortableColumn="descAgente"
                    style="text-align: center;">
                    Asignado a <p-sortIcon field="descAgente" />
                </th>
                <th></th>
            </tr>
            <tr *ngIf="showSearch">
                <th style="text-align: center;">
                    <p-columnFilter type="text" field="idTicket" [showClearButton]="false" />
                </th>
                <th *ngIf="validarRol.administrador() || validarRol.usuario()" style="text-align: center;">
                    <p-columnFilter type="text" field="fechaCreacion" [showClearButton]="false" />
                <th *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()"
                    style="text-align: center;">
                    <p-columnFilter type="text" field="fechaAtualizacion" [showClearButton]="false" />
                </th>
                <th *ngIf="validarRol.administrador() || validarRol.usuario()" style="text-align: center;">
                    <p-columnFilter type="text" field="descEstadoTicket" [showClearButton]="false" />
                </th>
                <th style="text-align: center;">
                    <p-columnFilter type="text" field="titulo" [showClearButton]="false" />
                </th>
                <th *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()"
                    style="text-align: center;">
                    <p-columnFilter type="text" field="descPersona" [showClearButton]="false" />
                </th>
                <th *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()"
                    style="text-align: center;">
                    <p-columnFilter type="text" field="descPrioridad" [showClearButton]="false" />
                </th>
                <th *ngIf="validarRol.administrador() || validarRol.usuario() || validarRol.agente()"
                    style="text-align: center;">
                    <p-columnFilter type="text" field="descDepartamentoA" [showClearButton]="false" />
                </th>
                <th *ngIf="validarRol.administrador() || validarRol.coordinador()" style="text-align: center;">
                    <p-columnFilter type="text" field="descAgente" [showClearButton]="false" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td style="text-align: center;">{{rowData.idTicket}}</td>
                <td *ngIf="validarRol.administrador() || validarRol.usuario()" style="text-align: center;">
                    {{rowData.fechaCreacion}}</td>
                <td *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()"
                    style="text-align: center;">
                    {{rowData.fechaAtualizacion}}</td>
                <td *ngIf="validarRol.administrador() || validarRol.usuario()" style="text-align: center;">
                    {{rowData.descEstadoTicket}}</td>
                <td style="text-align: center;">{{rowData.titulo}}</td>
                <td *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()"
                    style="text-align: center;">
                    {{rowData.descPersona}}</td>
                <td *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()"
                    style="text-align: center;">
                    {{rowData.descPrioridad}}</td>
                <td *ngIf="validarRol.administrador() || validarRol.usuario() || validarRol.agente()"
                    style="text-align: center;">
                    {{rowData.descDepartamentoA}}</td>
                <!-- <td style="text-align: center;">{{rowData.descSla}}</td> -->
                <!-- <td style="text-align: center;">{{rowData.resueltoPrimerContacto}}</td> -->
                <td *ngIf="validarRol.administrador() || validarRol.coordinador()" style="text-align: center;">
                    {{rowData.descAgente}}</td>
                <td style="text-align: center;">
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
                        routerLink="/ticket/ticket-form/{{rowData.idTicket}}" />
                    <p-button *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()" icon="pi pi-user-plus" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
                        (click)="asignarAgente(rowData, rowData.idTicket, rowData.idDepartamentoA, rowData.idAgente, rowData.titulo)"></p-button>
                    <p-button *ngIf="validarRol.administrador()" icon="pi pi-ban" severity="danger" [rounded]="true"
                        [outlined]="true" (click)="confirmEliminar(rowData)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog header="Actualizar Ticket" [(visible)]="displayModal" [modal]="true"
    [style]="{width: '50vw', height: '60vh'}">
    <form *ngIf="ticketForm" [formGroup]="ticketForm" (ngSubmit)="actualizarTicket()">
        <div *ngIf="validarRol.administrador() || validarRol.agente() || validarRol.coordinador()" class="field grid">
            <div class="col-12 md:col-6 lg:col-6">
                <div class="p-fluid">
                    <label for="departamentoAgente" class="block mb-2">Departamentos de soporte: <span
                            class="required">*</span></label>
                    <p-dropdown [options]="departamentoAgentes" formControlName="departamentoAgente"
                        placeholder="Seleccione el Departamento" optionLabel="nombre" [showClear]="true" class="w-full"
                        (onChange)="seleccionarDepartamento($event)">
                    </p-dropdown>
                    <small class="p-error block mt-2"
                        *ngIf="ticketForm.get('departamentoAgente').invalid && (ticketForm.get('departamentoAgente').dirty || ticketForm.get('departamentoAgente').touched)">
                        <span *ngIf="ticketForm.get('departamentoAgente').errors?.required">El departamento de
                            soporte es requerido.</span>
                    </small>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <div class="p-fluid">
                    <label for="agente" class="block mb-2">Agentes: <span class="required">*</span></label>
                    <p-dropdown [options]="agentes" formControlName="agente" placeholder="Seleccione un agente"
                        optionLabel="agenteNombreCompleto" [showClear]="true" class="w-full">
                    </p-dropdown>
                    <small class="p-error block mt-2"
                        *ngIf="ticketForm.get('agente').invalid && (ticketForm.get('agente').dirty || ticketForm.get('agente').touched)">
                        <span *ngIf="ticketForm.get('agente').errors?.required">El agente es
                            requerido.</span>
                    </small>
                </div>
            </div>
        </div>

        <div class="w-full flex justify-end mt-8" style="width: 100%; display: flex; justify-content: flex-end;">
            <p-button class="mr-2" icon="pi pi-check" (click)="confirmarAsignarAgente('op=actualizaragente')" label="Actualizar"></p-button>
        </div>
    </form>
</p-dialog>
<p-confirmDialog header key="ticket" acceptLabel="Si" rejectLabel="No" icon="pi pi-exclamation-triangle"
    [closable]="false" [closeOnEscape]="false" [style]="{width: '450px'}" acceptButtonStyleClass="p-button-text"
    rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<p-toast></p-toast>
<div class="overlay" *ngIf="loading">
    <p-progressSpinner strokeWidth="6"></p-progressSpinner>
</div>
