<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!-- <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo"> -->
        <img src="assets/layout/images/logo.png" alt="logo">
        <span style="color:red"><strong> HELP DESK </strong></span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <!-- <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="layoutService.logout()">
            <i class="pi pi-sign-out"></i>
            <span>Cerrar Sesión</span>
        </button>
    </div> -->

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}"
        style="display: flex; align-items: center; justify-content: space-between;">
        <span> {{ usuario }} </span>
        <button class="p-link layout-topbar-button" (click)="layoutService.logout()" style="margin-left: 10px;">
            <i class="pi pi-sign-out"></i>
            <span>Cerrar Sesión</span>
        </button>
    </div>
</div>
