
<div class="card card-w-title" style="display: flex; justify-content: space-between; align-items: center;">
    <div style="display: flex; align-items: center;">
        <i class="pi pi-fw pi-id-card"></i>
        <span style="font-size: 15px; margin-left: 5px;"><b>Base de conocimiento</b></span>
    </div>
    <div class="p-field">
        <input id="search" type="text" pInputText placeholder="Buscar por título..." [(ngModel)]="buscar" />
    </div>
    <div class="p-field">
        <p-dropdown [options]="categoriaOpciones" [(ngModel)]="categoriaSeleccionada"
            placeholder="Seleccione una categoría"></p-dropdown>
    </div>
</div>
<div class="card card-w-title" style="padding: 20px;">
    <div>
        <button type="button" pButton label="Abrir Chatbot" icon="pi pi-external-link" (click)="openChatDialog()"></button>
    </div>

    <hr/>

    <div *ngFor="let categoria of filtrarCategorias(); let i = index">
        <h5 style="font-weight: bold;">{{ categoria.nombre }} </h5><h5> {{ categoria.nombre1 }}</h5>
        <div *ngFor="let guia of filtrarGuias(categoria.guias)">
            <a class="guia-link guia-item" (click)="alternarGuia(guia)">
                {{ guia.titulo }}
            </a>
            <div *ngIf="guia.expandir">
                <!-- <p>{{ guia.contenido }}</p> -->
                <div class="formatted-content" [innerHTML]="guia.contenido"></div>
            </div>
        </div>
        <hr class="categoria-separator" *ngIf="i < filtrarCategorias().length - 1">
    </div>
</div>
<p-dialog header="Chat" [(visible)]="displayChatDialog" [modal]="true" [resizable]="false" [draggable]="true"
    [style]="{width: '800px', height: '600px'}">
    <iframe src="http://localhost:5173/bot/" frameborder="0" width="100%" height="500px"></iframe>
</p-dialog>
